
body {

background: #ffffff url("a4.jpg") no-repeat center;
background-size: 1280px  720px;

}
.block1{
	
background-position:center;	
}	
.block2{

background-position:center;	
	
}



.text5 {
line-height:1;
color:#808080;
font-weight: 700;
 font-family:Times New Romance;
  font-size: 20;
  position: absolute;
  top: 3%;
  left: 33%;
  }
   .text6 {
line-height:1;
color:#808080;
font-weight: 700;
 font-family:Times New Romance;
  font-size: 20;
  position: absolute;
  top: 3%;
  left: 43%;
  }
  
  .text7 {
line-height:1;
color:#808080;
font-weight: 700;
 font-family:Times New Romance;
  font-size: 20;
  position: absolute;
  top: 3%;
  left: 55%;
  }
  .text8 {
line-height:1;
color:#808080;
font-weight: 700;
 font-family:Times New Romance;
  font-size: 20;
  position: absolute;
  top: 3%;
  left: 66%;
  }
  

#text {
line-height:1;
color:#808080;
font-weight: 700;
 font-family:Times New Romance;
  font-size: 17;
  position: absolute;
  top: 51%;
  left: 22%;
  
  
width: 1000px; /* Ширина слоя */
margin: 7px; /* Значение отступов */

padding: 30px; /* Поля вокруг текста */
  border-radius: 0.2em;
  display: inline;
	background-color: #FFFFFF;
	box-shadow: 0.1em 0.2em 5px rgba(122,122,122,0.5);
	padding: 20px 20px 600px 30px;
	color: #808080;
}


#text4 {
  position: absolute;
  top: 107%;
  left: 23%;